pkgbase = bootsplash-theme-cupertino
	pkgdesc = Simple Manjaro Bootsplash for a full OSX-like boot experience
	pkgver = 1.0
	pkgrel = 1
	arch = x86_64
	license = GPL
	optdepends = bootsplash-systemd: for bootsplash functionality
	options = !libtool
	options = !emptydirs
	source = bootsplash-packer
	source = bootsplash-cupertino.sh
	source = bootsplash-cupertino.initcpio_install
	source = logo.gif
	source = spinner.gif
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = bootsplash-theme-cupertino
	pkgdesc = Simple Manjaro Bootsplash for a full OSX-like boot experience

